<center>
#  Dota2 Games Results Data Set

# Информация О Наборе Данных:

###  Dota 2 - популярная компьютерная игра с двумя командами по 5 игроков. В начале игры каждый игрок выбирает уникального героя с различными сильными и слабыми сторонами. 
###  Набор данных достаточно скудный, поскольку в данной игре выбрано только 10 из 113 возможных героев. 
###  Все игры были сыграны в течение 2 часов 13 августа 2016 


###  Данные были собраны с помощью: [Web Link]


#### Характеристики Набора Данных: многомерные
#### Характеристики Атрибутов:  отсутствуют
#### Задача: классификации
#### Количество строк: 102944
#### Количестно признаков: 116
#### Пропущенные значения: отсутствуют
#### Область: комьютерные игры
#### Дата сбора выборки:14.08.2016
#### Количество обращений: 67786

##### Каждый ряд набора данных представляет собой отдельную игру со следующими функциями: 
##### 1. Команда выиграла игру (1 или -1) 
##### 2. Идентификатор кластера (зависит от местоположения) 
##### 3. Режим игры 
##### 4. Тип игры (например, рейтинг) 
##### 5. Конец: каждый элемент является индикатором для героя. Значение 1 указывает, что игрок из команды «1» играл в качестве этого героя, а «-1» - для другой команды. Герой может быть выбран только одним игроком в каждой игре. Это означает, что каждая строка имеет пять значений «1» и пять значений «-1». 

Ссылка на dataset: https://archive.ics.uci.edu/ml/machine-learning-databases/00367/

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('dota2Test.csv')
df1.head()

,-1,223,8,2,0,-1.1,0.1,0.2,0.3,0.4,...,-1.5,0.94,0.95,0.96,0.97,0.98,0.99,0.100,0.101,0.102
0,1,227,8,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
1,-1,136,2,2,1,0,0,0,-1,0,...,0,0,0,0,0,0,0,0,0,0
2,1,227,2,2,-1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,184,2,3,0,0,0,-1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,231,2,2,0,0,0,0,0,0,...,0,0,0,0,0,0,-1,0,0,0

In [4]:
df2 = pd.read_csv('dota2Train.csv')
df2.head()

,-1,223,2,2.1,0,0.1,0.2,0.3,0.4,0.5,...,0.93,0.94,0.95,0.96,0.97,0.98,0.99,0.100,0.101,0.102
0,1,152,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
1,1,131,2,2,0,0,0,1,0,-1,...,0,0,0,0,0,0,0,0,0,0
2,1,154,2,2,0,0,0,0,0,0,...,-1,0,0,0,0,0,0,0,0,0
3,-1,171,2,3,0,0,0,0,0,-1,...,0,0,0,0,0,0,0,0,0,0
4,1,122,2,3,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,-1